html, body {
    margin: 0px;
    padding: 0px;
}


#content{
    transform: scale(0.9);
    left: 5px;
    right: 5px;
    top: 5px;
    z-index: 2;
    position: absolute;
    line-height: 1.0;
}

h1{
    line-height:17px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 50px;
    font-family: 'Didact Gothic';
    color:white;
    
}



.textsubtitle{
    left: 10px;
    position: relative;
    line-height:60px;
    text-align: left;
    font-size: 40px;
    font-family: 'Didact Gothic';
    color:black;
}

h3{
    font-family: 'Didact Gothic';
    font-size: 10px;
}

p{
    line-height:17px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Didact Gothic';
    color:white;
    
}



#particles-js{
    margin-top: 0px;
    position: fixed;
    background-repeat: no-repeat;
	background-size: cover;
	background-color: #281001;
	background-position: 50% 50%;
	
	top: 0px;
    bottom: 0px;
	left: 0px;
	right: 0px;
	
    width: 100%;
    height: 100%;
    z-index:1; 
}

.projectscard{
    opacity: 0.8;
    color:black;
    background-color: #42aaf4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 80px;
    position: relative;
    vertical-align: middle;
    height: 60px;
    width: 100%;
    
}

.card {
    opacity: 0.8;
    color:black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 200px;
    width: 100%;
    margin-top: 25px;
    text-align:center;
    background-color: #ffffff;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    color: grey;
    font-size: 16px;
    text-align: center;
    display:block;
}

.featuregraphic{
    float: left;
    position: relative;
    left: 0px;
    height: 200px;
    z-index:3; 
    
}

.logocontainer{
    height: 200px;
    right: 0px;
    bottom: 0px;
    position: absolute;
}

.logo1{
   float: right;
   position: absolute; 
   bottom: 0px;
   right: 100px;
}

.logo2{
   float: right;
   position: absolute; 
   bottom: 0px;
   right: 50px;
}


.logo3{
   float: right;
   position: absolute; 
   bottom: 0px;
   right: 0px;
}


.policy {
   font-size: 17px;
   position: absolute;
   top: 22px;
   right: 5px;
   cursor:pointer;
   color:#41caf4;
   font-style: italic;
   
}

.endcard{
    margin-top: 25px;
    opacity: 0.9;
    color:black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 100px;
    width: 100%;
    text-align:center;
    background-color: #ef431c;
    position: relative;
}